* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
}

.container .imgContainer {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.container .imgContainer .iconBox {
    position: relative;
    width: calc(50% - 30px);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px 0;
    padding: 0 25px;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(0,0,0,.07);
    border-radius: 5px;
    transition: .5s;
}

.container .imgContainer .iconBox.active {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.container .imgContainer .iconBox img {
    max-width: 100%;
    filter: grayscale(1);
    transition: 0.5s;
    transform: scale(0.8);
}

.container .imgContainer .iconBox.active img {
    filter: grayscale(0);
    transform: scale(1);
}

.textContainer {
    position: relative;
    width: 50%;
    overflow: hidden;
    
}

.textContainer .textBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transform: scale(0);
    opacity: 0;
    transition-delay: .5s;
    text-align: justify;
}

.textContainer .textBox.active {
    transform: scale(1);
    opacity: 1;
}

.textContainer .textBox h2 {
    font-size: 3em;
}